

#addClass button {
    display: inline-block;
}

#addClass p {
    display: inline-block;
}

#slideToggle button {
    display: inline-block;
}

#slideToggle p {
    display: inline-block;
}

#append button {
    display: inline-block;
}

#append p {
    display: inline-block;
}

